@import "tailwindcss";

/* 自定义 dark 变体，基于 .dark 类切换 */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-black transition-[background-color] dark:bg-[#09090b] dark:text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
